.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  left: 215px;
  top: 24px;
  margin-right: 85px;
  display: inline-block;
}

.web {
  color: $link-color;
}

.studio {
  color: $dark-color;
}
