.card {
  width: 270px;
  background: $light-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card-info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
}

.team-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card h3 {
  text-align: center;
}

.card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  color: $body-color;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-card {
  flex-wrap: nowrap;
  padding-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  a:hover,
  a:focus,
  .social-link:hover,
  .social-link:focus {
    background: $link-color;
    border-radius: 50%;
    color: $light-color;
    opacity: 1;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

svg {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  color: $icon-color;

  &:hover,
  &:focus {
    color: $light-color;
    opacity: 1;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
