header {
	border: 1px solid #ececec;
}

.flex-header {
	// padding-top: 16px;
	// padding-bottom: 16px;
	position: relative;

	@include for-size(tablet) {
		// padding-top: 32px;
		// padding-bottom: 32px;
		display: flex;
	}

	@include for-size(desktop) {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		// padding-top: 32px;
		// padding-bottom: 32px;
		width: 100%;
	}
}
