.team {
	background: $bkg-lite-color;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 60px;

	@include for-size(desktop) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.team-container {
	flex-wrap: nowrap;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
}

.team-item {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	padding-bottom: 15px;
	background: $light-color;

	@include for-size(mobile) {
		// width: 450px;
		display: flex;
	}

	@include for-size(tablet) {
		// width: 354px;
		flex-wrap: nowrap;
		flex-basis: calc((100% - 4 * 15px) / 2);
		margin: 15px;
	}

	@include for-size(desktop) {
		flex-basis: calc((100% - 8 * 15px) / 4);
		margin: 15px;
		// width: 270px;
		flex-wrap: nowrap;
	}
}
