.we-do {
  font-weight: bold;
  letter-spacing: 0.03em;
  padding-bottom: 94px;
}

.we-do-group {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.we-do-list {
  display: flex;
}

.we-do-item {
  width: calc((100% - 30px * 2) / 3);

  &:nth-child(even) {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.we-do-fig figcaption {
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

figure {
  position: relative;
}

.we-do-cap {
  display: flex;
  padding-bottom: 28px;
  padding-top: 28px;
  justify-content: center;
  background-color: $bkg-card-color;
  color: $light-color;
  width: 100%;
}

.we-do-h-text,
.team-h-text,
.clients-h-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  color: $dark-color;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
