$dark-color: #212121;
$body-color: #757575;
$icon-color: #afb1b8;
$link-color: #2196f3;
$light-color: #ffffff;
$footer-bgcolor: #2f303a;
$bkg-lite-color: #f5f4fa;
$bkg-card-color: rgba(47, 48, 58, 0.8);
$box-shadow-dark: rgba(0, 0, 0, 0.15);
